{% extends "base.html"  %}
{% load tailwind_filters %}



{% block content %}


<div class="max-w-lg mx-auto">
  <h1 class="text-text-4xl text-gray-800"> Enter your new password  </h1>

<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  {% comment %} {{form.as_p}} {% endcomment %}
  <button type = "submit" class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2"> Confirm your Password </button>
  <hr/>
  <a href = "{% url "login" %}">Already have an account <a/>

</form>
</div>
{% endblock content  %}